@page "/parcels"
<h2>Parcels</h2>
<ul class="parcels">
    @foreach (var parcel in parcels)
    {
        <li>
            <span class="badge">@parcel.Barcode</span> @parcel.Status
        </li>
    }
</ul>

@code {
    List<GetParcelWithHistoryResponse> parcels { get; set; } = new List<GetParcelWithHistoryResponse>
        {
            new GetParcelWithHistoryResponse() { Barcode = "11", Status = "bla 11" },
            new GetParcelWithHistoryResponse() { Barcode = "22", Status = "bla 22" },
        };
}