@page "/parcels"
@rendermode InteractiveServer
@inject IParcelService parcelService

<h2>Parcels</h2>
<ul class="parcels">
    @foreach (var item in items)
    {
        <li @onclick=@(e => onSelect(item)) class="@(item == selectedItem ? "selected" : "")">
            <span class="badge">@item.Barcode</span> @item.Status
        </li>
    }
</ul>

<ParcelDetail item=@selectedItem></ParcelDetail>

@code {
    List<GetParcelResponse> items { get; set; } = new List<GetParcelResponse>();
    GetParcelResponse selectedItem { get; set; }
    void onSelect(GetParcelResponse item)
    {
        selectedItem = item;
    }
    protected override async Task OnInitializedAsync()
    {
        items = await parcelService.GetParcels();
    }
}