@if (parcel != null)
{
    <h2>@parcel.Barcode.ToUpper() Details</h2>
    <div><span>Barcode: </span>@parcel.Barcode</div>
    <div>
        <label>
            Status:
            <input @bind=@parcel.Status readonly="true" />
        </label>
    </div>
}
@code {
    [Parameter]
    public GetParcelResponse parcel { get; set; }
}