@page "/parcels"

<h2>Parcels</h2>
<ul class="parcels">
    @foreach (var parcel in parcels)
    {
        <li>
            <span class="badge">@parcel.Barcode</span> @parcel.Status
        </li>
    }
</ul>


@code {
    List<GetParcelResponse> parcels { get; set; } = new List<GetParcelResponse>
    {
            new GetParcelResponse { Barcode = "11", Status= "AA"},
            new GetParcelResponse { Barcode = "22", Status= "AA"},
        };
}