@page "/parcels"
@inject IParcelService parcelService

<h2>Parcels</h2>
<ul class="parcels">
    @foreach (var parcel in parcels)
    {
        <li @onclick=@(e => onSelect(parcel)) class="@(parcel == selectedParcel ? "selected" : "")">
            <span class="badge">@parcel.Barcode</span> @parcel.Status
        </li>
    }
</ul>

<ParcelDetail parcel=@selectedParcel></ParcelDetail>

@code {
    List<GetParcelResponse> parcels { get; set; } = new List<GetParcelResponse>();

    GetParcelResponse selectedParcel { get; set; }
    void onSelect(GetParcelResponse parcel)
    {
        selectedParcel = parcel;
    }

    protected override async Task OnInitializedAsync()
    {
        parcels = await parcelService.GetParcels();
    }
}