@page "/parcels"

<h2>Parcels</h2>
<ul class="parcels">
    @foreach (var parcel in parcels)
    {
        <li @onclick=@(e => onSelect(parcel)) class="@(parcel == selectedParcel ? "selected" : "")">
            <span class="badge">@parcel.Barcode</span> @parcel.Status
        </li>
    }
</ul>

@if (selectedParcel != null)
{
    <div><span>Barcode: </span>@selectedParcel.Barcode</div>
    <div>
        <label>
            Status:
            <input @bind=@selectedParcel.Status />
        </label>
    </div>
}


@code {
    List<GetParcelResponse> parcels { get; set; } = new List<GetParcelResponse>
    {
            new GetParcelResponse { Barcode = "11", Status= "AA"},
            new GetParcelResponse { Barcode = "22", Status= "AA"},
     };

    GetParcelResponse selectedParcel { get; set; }
    void onSelect(GetParcelResponse parcel)
    {
        selectedParcel = parcel;
    }
}